html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before , *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

/*gobales*/
img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
} 

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
/*Header*/

.site-header.inicio{
    
    background-image: url(../img/baby-children-cute-264109.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}